* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}



nav {
  display: none;

}

nav .m-nav{
  display: inline-block;
}

nav .active {
 display: block;
}

.togle {
  display: none;
}