* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

header {
  display: flex;
}



nav {
  display: none;

}

nav .m-nav{
  display: inline-block;
}

nav .active {
 display: block;
}

.togle {
  size: 50px;
  background-color: black;
}

.rollback {
  width: 100px;
  height: 50px;
  background-color: black;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.rollback a {
  margin: auto;
  color: beige;
}

body {
  display: flex;
}

.m-img {
  height: 150px;
}

.body_main {
  margin: 10px 0;
}

.b-main-text {
  margin: 20px auto;
}